#videoElement { width: 640px; height: 480px; border-radius: 20px; }
#canvasElement { display: none; width: 640px; height: 480px; }
.demo-content { padding: 20px; display: flex; flex-direction: column; align-items: center; }
.button-group { margin-bottom: 20px; }

h1 {
    text-align: center;
    font-size: 40px;
    color: blueviolet;
}

.mdl-button--fab.mdl-button--colored:hover {
  background-color: #B22222 !important;
}